<% provide(:title, 'notifications') %>

<div class="row common-header">
  <div class="col-md-12">
		<div class="row sort">
		  <div class="col-xs-6 sort-box active">
		  	<strong>所有</strong>
		  </div>
		  <div class="col-xs-6 sort-box">
		  	<strong>评论</strong>
		  </div>
		</div>
  </div>
</div>
<table class="table common-list">
  <tr>
  	<td><%= image_tag("1069", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>上传了一条新视频</small>
  	</td>
  	<td>
  		<i class="fa fa-play-circle-o notify"></i>
  	</td>
  </tr>
  <tr>
  	<td><%= image_tag("1069", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>评论了你的视频</small>
  	</td>
  	<td>
  		<i class="fa fa-commenting-o notify"></i>
  	</td>
  </tr>
  <tr>
  	<td><%= image_tag("avatar", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">FTGHUB</p>
  		<small>一条通知</small>
  	</td>
  	<td>
  		<i class="fa fa-bell-o notify"></i>
  	</td>
  </tr>
  <tr>
  	<td><%= image_tag("1069", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>赞了你的视频</small>
  	</td>
  	<td>
  		<i class="fa fa-thumbs-o-up notify"></i>
  	</td>
  </tr>
  <tr>
    <td><%= image_tag("1069", size: "40", class: "img-circle avatar") %></td>
    <td>
      <p class="username">Kristen Hancher</p>
      <small>关注了你</small>
    </td>
    <td>
      <i class="fa fa-user-plus notify"></i>
    </td>
  </tr>
</table>