<% provide(:title, 'notifications') %>

<div class="row common-header">
  <div class="col-md-12">
    <ul class="list-inline">
      <li>
        <div class="sort-box active">
          所有
        </div>
      </li>
      <li>
        <div class="sort-box">
          评论
        </div>
      </li>
    </ul>
  </div>
</div>
<table class="table common-list">
  <tr>
  	<td><%= image_tag("1069", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>上传了一条新视频</small>
  	</td>
  	<td>
  		<i class="fa fa-play-circle-o notify"></i>
  	</td>
  </tr>
  <tr>
  	<td><%= image_tag("1069", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>评论了你的视频</small>
  	</td>
  	<td>
  		<i class="fa fa-commenting-o notify"></i>
  	</td>
  </tr>
  <tr>
  	<td><%= image_tag("avatar", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">FTGHUB</p>
  		<small>一条通知</small>
  	</td>
  	<td>
  		<i class="fa fa-bell-o notify"></i>
  	</td>
  </tr>
  <tr>
  	<td><%= image_tag("1069", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>赞了你的视频</small>
  	</td>
  	<td>
  		<i class="fa fa-thumbs-o-up notify"></i>
  	</td>
  </tr>
  <tr>
    <td><%= image_tag("1069", size: "40", class: "img-circle avatar") %></td>
    <td>
      <p class="username">Kristen Hancher</p>
      <small>关注了你</small>
    </td>
    <td>
      <i class="fa fa-user-plus notify"></i>
    </td>
  </tr>
</table>