<% provide(:title, 'user') %>
<div class="user-show">
	<div class="row user-show-head">
	  <div class="col-xs-4 left">
	  	<p><i class="fa fa-user-plus"></i></p>
	  </div>
	  <div class="col-xs-4 center">
	  	<h5 class="text-center">Shin</h5>
	  </div>
	  <div class="col-xs-4 right">
	  	<p class="text-right"><i class="fa fa-cog"></i></p>
	  </div>
	</div>
	<div class="row user-show-avatar">
	  <div class="col-md-12 text-center">
	  	<%= image_tag("shin-avatar", size: "80", class: "img-circle avatar") %>
	  	<p><small>@shinplus</small></p>
	  	<p><small>合气道</small></p>
	  </div>
	</div>
	<div class="row user-show-content">
	  <div class="col-md-12 text-center">
	  	<ul class="list-inline stats">
	  		<li>
	  			<a href="#">
				    <strong id="following" class="stat">
				      32
				    </strong>
				    <small>following</small>
				  </a>
	  		</li>
			  <li>
			  	<a href="#">
				    <strong id="fans" class="stat">
				      12
				    </strong>
				    <small>fans</small>
				  </a>
			  </li>
			  <li>
			  	<a href="#">
				    <strong id="likes" class="stat">
				      53
				    </strong>
				    <small>likes</small>
				  </a>
			  </li>
			</ul>
			<%= button 'edit profile', size: :extra %>
	  </div>
	</div>
	<div class="row user-show-video">
	  <div class="col-xs-4">
	  	<%= image_tag("index2-1") %>
	  </div>
	  <div class="col-xs-4">
	  	<%= image_tag("index2-1") %>
	  </div>
	  <div class="col-xs-4">
	  	<%= image_tag("index2-1") %>
	  </div>
	  <div class="col-xs-4">
	  	<%= image_tag("index2-1") %>
	  </div>
	  <div class="col-xs-4">
	  	<%= image_tag("index2-1") %>
	  </div>
	  <div class="col-xs-4">
	  	<%= image_tag("index2-1") %>
	  </div>
	</div>
</div>
