<% provide(:title, 'following') %>

<div class="row common-header">
  <div class="col-md-12">
    <a href="#">
      <%= link_to (fa_icon "angle-left"), '#', class: "fa-2x" %>
    </a>
    <p class="text-center">following</p>
  </div>
</div>

<table class="table common-list">
  <tr>
  	<td><%= image_tag("shin-avatar", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>合气道，太极拳</small>
  	</td>
  	<td>
  		<button class="btn btn-danger btn-sm" type="submit"><i class="fa fa fa-user-times"></i></button>
  	</td>
  </tr>
  <tr>
  	<td><%= image_tag("shin-avatar", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>合气道，太极拳</small>
  	</td>
  	<td>
  		<button class="btn btn-success btn-sm" type="submit"><i class="fa fa-user-plus"></i></button>
  	</td>
  </tr>
  <tr>
  	<td><%= image_tag("shin-avatar", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>合气道，太极拳</small>
  	</td>
  	<td>
  		<button class="btn btn-danger btn-sm" type="submit"><i class="fa fa fa-user-times"></i></button>
  	</td>
  </tr>
  <tr>
  	<td><%= image_tag("shin-avatar", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>合气道，太极拳</small>
  	</td>
  	<td>
  		<button class="btn btn-danger btn-sm" type="submit"><i class="fa fa fa-user-times"></i></button>
  	</td>
  </tr>
  <tr>
  	<td><%= image_tag("shin-avatar", size: "40", class: "img-circle avatar") %></td>
  	<td>
  		<p class="username">Kristen Hancher</p>
  		<small>合气道，太极拳</small>
  	</td>
  	<td>
  		<button class="btn btn-danger btn-sm" type="submit"><i class="fa fa fa-user-times"></i></button>
  	</td>
  </tr>
</table>